<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron mt-4">
        <h1 class="display-4 text-center">My TODOS</h1>
        <hr class="my-4" />
        <ul id="todos">
          {% for d in data %}
          <li class="mb-3" id="{{d.id}}">
            <input
              type="checkbox"
              data-id="{{d.id}}"
              class="form-check-input"
              {%
              if
              d.completed
              %}
              checked
              {%
              endif
              %}name="completed"
              id="completed"
            />{{d.description}}
            <button
              type="button"
              class="close"
              aria-label="Delete"
              onclick="deleteTodo({{d.id}})"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- <form action="/create-todo" method="post"> -->
      <form id="form">
        <div
          id="error"
          class="alert alert-danger"
          style="display: none;"
          role="alert"
        >
          Error!
        </div>

        <div class="form-group">
          <label class="form-check-label" for="description"
            >Create Todo Item</label
          >
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <script>
        function deleteTodo(id) {
          console.log(`removing: ${id}`);
          fetch(`/todos/${id}`, {
            method: "DELETE",
          })
            .then(() => (document.getElementById(id).style.display = "none"))
            .catch(() => {
              document.getElementById("error").style.display = "block";
            });
        }

        function udateCompleted(id, completed) {
          console.log(`clicked! id: ${id} status: ${completed}`);
          fetch("/todos/update-completed", {
            method: "POST",
            body: JSON.stringify({
              id,
              completed,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          }).catch(function () {
            document.getElementById("error").style.display = "block";
          });
        }

        function toggleCompleted(e) {
          id = e.target.attributes["data-id"].value;
          completed = e.target.checked;
          udateCompleted(id, completed);
        }

        document
          .querySelectorAll('[type="checkbox"]')
          .forEach((checkbox) =>
            checkbox.addEventListener("click", (e) => toggleCompleted(e))
          );

        const descInput = document.getElementById("description");

        document.getElementById("form").onsubmit = function (e) {
          e.preventDefault();
          console.log("FORM SUBMITED");
          const desc = descInput.value;
          if (!desc) {
            console.log("field Empty!");
            document.getElementById("error").style.display = "block";

            return null;
          }
          descInput.value = "";
          fetch("/todos/create", {
            method: "POST",
            body: JSON.stringify({
              description: desc,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((jsonResponse) => {
              console.log("response", jsonResponse);

              document.getElementById(
                "todos"
              ).innerHTML += `<li class="mb-3" id="${jsonResponse.id}">
                    <input type="checkbox" data-id="${jsonResponse.id}" class="form-check-input" name="completed" id="completed" 
                    onclick="(toggleCompleted()"/>
                    ${jsonResponse.description}
                    <button type="button" class="close" aria-label="Delete">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>`;
              document.getElementById("error").style.display = "none";
              document.getElementById(jsonResponse.id).addEventListener("click", (e) => toggleCompleted(e))

            })
            .catch(function () {
              document.getElementById("error").style.display = "block";
            });
        };
      </script>
    </div>
  </body>
</html>
